# Advanced Querying Mongo

**⚠️ IMPORTANT: Limit your print to avoid infinite scrolling. Otherwise your
code will be lost between print lines. If working with lists do:**

```python
list(collection.find(query))[:5] #or a reasonably low number
```

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")
client.list_database_names()

['Ironhack', 'admin', 'config', 'local']

In [2]:
db = client["Ironhack"]
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack')

In [3]:
db.list_collection_names()

['companies', 'Restaurants']

In [4]:
c = db.get_collection("companies")
c

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack'), 'companies')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [5]:
filter1 = {"name": "Babelgum"}
projection1 = {"name": 1, "_id": 0}

babelgum = list(c.find(filter1 , projection1))
babelgum

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [6]:
filter2 = {"number_of_employees": {"$gt":500}}
projection1 = {"name": 1, "_id": 0}

companies_5000 = list(c.find(filter2,projection1).sort('number_of_employees',-1).limit(20))
companies_5000

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'},
 {'name': 'Sony'},
 {'name': 'LG'},
 {'name': 'Ford'},
 {'name': 'Boeing'},
 {'name': 'Digital Equipment Corporation'},
 {'name': 'Nokia'},
 {'name': 'MItsubishi Electric'},
 {'name': 'MItsubishi Electric'},
 {'name': 'Comcast'},
 {'name': 'Bertelsmann'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [7]:
founded_yearafter = {"founded_year": {"$gte":2000}}
founded_yearbefore = {"founded_year": {"$lte":2005}}

projection_founded = {"_id": 0, "name": 1, "founded_year":1 }

companies_founded = list(c.find({"$and": [founded_yearafter, founded_yearbefore]},projection_founded).limit(15))
companies_founded

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'LifeLock', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [8]:
founded_before = {"founded_year": {"$lt":2010}}
valuation =  {"ipo.valuation_amount":{"$gt":100000000}}
retrive = {"_id":0, "name":1}

valuation_list = list(c.find({"$and": [founded_before,valuation]},retrive).limit(20))
valuation_list

[{'name': 'Facebook'},
 {'name': 'Twitter'},
 {'name': 'Yelp'},
 {'name': 'LinkedIn'},
 {'name': 'Amazon'},
 {'name': 'Brightcove'},
 {'name': 'KIT digital'},
 {'name': 'Nielsen'},
 {'name': 'OpenTable'},
 {'name': 'ChannelAdvisor'},
 {'name': 'Jive Software'},
 {'name': 'Zillow'},
 {'name': 'Wix'},
 {'name': 'Shutterfly'},
 {'name': 'TripAdvisor'},
 {'name': 'Salesforce'},
 {'name': 'HomeAway'},
 {'name': 'QuinStreet'},
 {'name': 'Rackspace'},
 {'name': 'BMC Software'}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [9]:
# Your Code
employees = {"number_of_employees": {"$lt":1000}}

founded_yearbefore1 = {"founded_year": {"$lte":2005}}

get = {"_id":0,"name":1}


companies_less1000 = list(c.find({"$and": [employees, founded_yearbefore1]},get).sort("number_of_employees",1).limit(10))
companies_less1000

[{'name': 'Fox Interactive Media'},
 {'name': 'Ticketmaster'},
 {'name': 'MindTouch'},
 {'name': 'Skype'},
 {'name': 'YouTube'},
 {'name': 'stylediary'},
 {'name': 'Attributor'},
 {'name': 'Yeigo'},
 {'name': 'PartnerUp'},
 {'name': 'Bebo'}]

### 6. All the companies that don't include the `partners` field.

In [10]:
partners = list(c.find({"partners": {"$exists": True}},{"_id":0,"name":1}).limit(10))
partners

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [14]:
category_null = {"category_code":{"$type": 10}}
get_name = {"_id":0,"name":1}


companies_category = list(c.find(category_null,get_name).limit(20))
companies_category

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'},
 {'name': 'Repeater Store'},
 {'name': 'Tapesh'},
 {'name': 'iPersians'},
 {'name': 'NewPersia'},
 {'name': 'Pyra Labs'},
 {'name': 'Feedmap'},
 {'name': 'NuvoMedia'},
 {'name': 'Intwine'},
 {'name': 'The Weinstein Company'},
 {'name': 'ExecuNet'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [15]:
employees_45 = {"number_of_employees": {"$gt":100}}
employees_74 = {"number_of_employees": {"$lt":1000}}

get = {"_id":0,"name":1,"number_of_employees":1 }


result_23 = list(c.find({"$and": [employees_45, employees_74]},get).limit(10))
result_23

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [19]:
ipo_list = list(c.find({ "ipo":{ "$exists": "true" }},{"_id":0,"name":1,"ipo.valuation_amount":1 }).sort("ipo",-1).limit(20)) 
ipo_list

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000}},
 {'name': 'TripAdvisor', 'ipo': {'valuation_amount': 3273770000}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'RPX Corporation', 'ipo': {'valuation_amount': 1096000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [20]:
employee_list = list(c.find({ "number_of_employees":{ "$exists": "true" }},{"_id":0,"name":1,"number_of_employees":1 }).sort("number_of_employees",-1).limit(10)) 
employee_list

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [25]:
# founded_month

founded_list = list(c.find({ "founded_month":{ "$gt": 6 }},{"_id":0,"name":1}).limit(10))
founded_list

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Omnidrive'},
 {'name': 'eBay'},
 {'name': 'Joost'},
 {'name': 'Plaxo'},
 {'name': 'Powerset'},
 {'name': 'Kyte'},
 {'name': 'Thoof'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [27]:
# Your Code

employees_67 = {"founded_year": {"$lt":2000}}
employees_78 = {"acquisition.price_amount": {"$gt":10000000}}

get = {"_id":0,"name":1}


result_45 = list(c.find({"$and": [employees_67, employees_78]},get).limit(15))
result_45

[{'name': 'Postini'},
 {'name': 'SideStep'},
 {'name': 'Recipezaar'},
 {'name': 'PayPal'},
 {'name': 'Snapfish'},
 {'name': 'Neopets'},
 {'name': 'Sun Microsystems'},
 {'name': 'Zappos'},
 {'name': 'Alibaba'},
 {'name': 'Sabre'},
 {'name': 'Lastminute'},
 {'name': 'Sportsline'},
 {'name': 'Digitas'},
 {'name': 'Webshots'},
 {'name': 'MIVA'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [31]:
# Your Code --> acquired_year

adquired_list = list(c.find({"acquisition.acquired_year":{ "$gt": 2010 }},{"_id":0,"name":1,"acquisition":1}).sort("acquisition.price_amount",-1).limit(5))
adquired_list

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.national.com/news/item/0,1735,1522,00.html',
   'source_description': 'TI to acquire National Semiconductor Complementary portfolios are foundation for growth',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 4,
   'acquiring_company': {'name': 'Texas Instruments',
    'permalink': 'texas-instruments'}}},
 {'name': 'Ariba',
  'acquisition': {'price_amount': 4300000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/05/22/sap-to-acquire-ariba-for-4-3-billion/',
   'source_description': 'SAP To Acquire Ariba For $4.3 Billion',
   'acquired_year': 2012,
   'acquired_month': 5,
   'acquired_day': 22,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [35]:
# Your Code


founded_list = list(c.find({ "founded_year":{ "$exists": "true" }},{"_id":0,"name":1,"founded_year":1}).sort("founded_year",-1).limit(10))
founded_list

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [36]:
# Your Code

list_56 = list(c.find({"founded_day":{ "$lte": 7 }},{"_id":0,"name":1}).sort("acquisition.price_amount",-1).limit(10))
list_56

[{'name': 'Netscape'},
 {'name': 'PayPal'},
 {'name': 'Zappos'},
 {'name': 'Alibaba'},
 {'name': 'Postini'},
 {'name': 'Danger'},
 {'name': 'Clearwell Systems'},
 {'name': 'PrimeSense'},
 {'name': 'Amobee'},
 {'name': 'BlueLithium'}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [37]:
# Your Code
category_web = {"category_code": "web"}
empoyees_list = {"number_of_employees": {"$gt":4000}}

get = {"_id":0,"name":1}


result_45 = list(c.find({"$and": [category_web, empoyees_list]},get).sort("number_of_employees",-1).limit(15))
result_45

[{'name': 'Experian'},
 {'name': 'eBay'},
 {'name': 'Yahoo!'},
 {'name': 'Rakuten'},
 {'name': 'Los Angeles Times Media Group'},
 {'name': 'Groupon'},
 {'name': 'Webkinz'},
 {'name': 'AOL'},
 {'name': 'Expedia'}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [38]:
# Your Code
adquisition_amount = {"acquisition.price_amount":{"$gt":10000000}}
currency = {"acquisition.price_currency_code":"EUR" }

get = {"_id":0,"name":1}


result_45 = list(c.find({"$and": [adquisition_amount, currency]},get).sort("acquisition.price_amount",-1).limit(15))
result_45

[{'name': 'Apertio'},
 {'name': 'Webedia'},
 {'name': 'Tuenti Technologies'},
 {'name': 'BioMed Central'},
 {'name': 'Greenfield Online'},
 {'name': 'ZYB'},
 {'name': 'Wayfinder'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [39]:
list_88 = list(c.find({"acquisition.acquired_month":{ "$lte": 3 }},{"_id":0,"name":1,"acquisition":1}).limit(10))
list_88

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}},
 {'name': 'Coghead',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2009/02/19/sap-acquires-cogheads-technology-as-it-looks-towards-the-cloud/',
   'source_description': 'SAP Acquires Cogheadâ€™s Technology As It Looks Towards The Cloud',
   'acquired_year': 2009,
   'acquired_month': 2,
   'acquired_day': 19,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'name': 'Dailymotion',
  'acquisition': {'price_amount': 168000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/02/22/orange-acquired-dailymotion-for-168-million-by-buying-out-the-remaining-51-stake/',
   'source_description': 'Orange Acquired Dailymotion For $168 Million By Buying Out Remaining 51% Stake [Update: Orange Confirms]',
   'acquired_year': 2013,
   'acquired_month': 2,
   'acquired_day': 22,
   'acquiring_company': {'name': 'Orange', 'permalink': 'orange'}}},
 {'name': 'Netvibes',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.marketwatch.com/story/dassault-systemes-acquires-netvibes-2012-02-09',
   'source_description': 'Dassault Systemes Acquires Netvibes',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 9,
   'acquiring_company': {'name': 'Dassault Systemes',
    'permalink': 'dassault'}}},
 {'name': 'Flickr',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://news.cnet.com/Yahoo-buys-photo-sharing-site-Flickr/2100-1038_3-5627640.html?tag=mncol;txt',
   'source_description': 'CNET',
   'acquired_year': 2005,
   'acquired_month': 3,
   'acquired_day': None,
   'acquiring_company': {'name': 'Yahoo!', 'permalink': 'yahoo'}}},
 {'name': 'BabyCenter',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.investor.jnj.com/releasedetail.cfm?releaseid=63836',
   'source_description': 'Johnson & Johnson Acquires BabyCenter From eToys, Inc. Leading Online Destination for Parents Plans for Continued Expansion of Operations',
   'acquired_year': 2001,
   'acquired_month': 3,
   'acquired_day': 2,
   'acquiring_company': {'name': 'Johnson & Johnson',
    'permalink': 'johnson-johnson'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code

**⚠️ Did you do this?**

```python
list(collection.find(query))[:5] #or a reasonably low number
```