# Advanced Querying Mongo

**⚠️ IMPORTANT: Limit your print to avoid infinite scrolling. Otherwise your
code will be lost between print lines. If working with lists do:**

```python
list(collection.find(query))[:5] #or a reasonably low number
```

Importing libraries and setting up connection

In [22]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")
client.list_database_names()
db = client['ironhack']

db.list_collection_names() # we get the name of the collections available

collection = db.get_collection("companies")

list(collection.find_one())

['_id',
 'name',
 'permalink',
 'crunchbase_url',
 'homepage_url',
 'blog_url',
 'blog_feed_url',
 'twitter_username',
 'category_code',
 'number_of_employees',
 'founded_year',
 'founded_month',
 'founded_day',
 'deadpooled_year',
 'tag_list',
 'alias_list',
 'email_address',
 'phone_number',
 'description',
 'created_at',
 'updated_at',
 'overview',
 'image',
 'products',
 'relationships',
 'competitions',
 'providerships',
 'total_money_raised',
 'funding_rounds',
 'investments',
 'acquisition',
 'acquisitions',
 'offices',
 'milestones',
 'video_embeds',
 'screenshots',
 'external_links',
 'partners']

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [15]:
# Your Code
filter_1 = {'name': {'$regex': 'Babelgum'}} 
projection_1 = {'name': 1, '_id': 0}

list(collection.find(filter, projection_1).limit(5))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [17]:
# Your Code
filter_2 = {'number_of_employees': {'$gt': 5000}}
projection_2 = {'name': 1,'number_of_employees': 1, '_id': 0}

list(collection.find(filter_2, projection_2).sort('number_of_employees', -1).limit(20))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000},
 {'name': 'Comcast', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [19]:
# Your Code
filter_3 = {'$and': [{'founded_year': {'$gte': 2000}}, {'founded_year': {'$lte': 2005}}]} # greater or equal than 2000 AND lower or equal than 2005
projection_3 = {'name':1, 'founded_year': 1, '_id': 0}

list(collection.find(filter_3, projection_3).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [32]:
# Your Code
filter_4 = {'$and': [{'ipo.valuation_amount': {'$gt': 100000000}}, {'founded_year': {'$lt': 2010}}]}    # valuation amount AND founded
projection_4 = {'name': 1, 'ipo.valuation_amount': 1, '_id':0}

list(collection.find(filter_4, projection_4))

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Brightcove', 'ipo': {'valuation_amount': 290000000}},
 {'name': 'KIT digital', 'ipo': {'valuation_amount': 235000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'OpenTable', 'ipo': {'valuation_amount': 1050000000}},
 {'name': 'ChannelAdvisor', 'ipo': {'valuation_amount': 287000000}},
 {'name': 'Jive Software', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Wix', 'ipo': {'valuation_amount': 750000000}},
 {'name': 'Shutterfly', 'ipo': {'valuation_amount': 350000000}},
 {'name': 'TripAdvisor', 'ipo': {'valuation_amount': 3273770000}},
 {'name': 'Salesforce', 'ipo': {'valuation_amount': 110000000}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000}},
 {'name': 'QuinStreet', 'ipo': {'valuation_amount': 140000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}},
 {'name': 'Infoblox', 'ipo': {'valuation_amount': 824000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Marketo', 'ipo': {'valuation_amount': 465000000}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000}},
 {'name': 'Geeknet', 'ipo': {'valuation_amount': 134000000}},
 {'name': 'Opsware', 'ipo': {'valuation_amount': 450000000}},
 {'name': 'Telenav', 'ipo': {'valuation_amount': 337000000}},
 {'name': 'Rally Software', 'ipo': {'valuation_amount': 315000000}},
 {'name': 'BrightSource Energy', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'Mixi', 'ipo': {'valuation_amount': 970000000}},
 {'name': 'QlikTech', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'SolarWinds', 'ipo': {'valuation_amount': 803000000}},
 {'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Tudou', 'ipo': {'valuation_amount': 174000000}},
 {'name': 'DemandTec', 'ipo': {'valuation_amount': 245000000}},
 {'name': 'Cornerstone OnDemand', 'ipo': {'valuation_amount': 900000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'Millennial Media', 'ipo': {'valuation_amount': 973500000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [24]:
# Your Code
filter_5 = {'$and': [{'number_of_employees': {'$lt': 1000}}, {'founded_year': {'$lt': 2005}}]}          # employees: $lt 1000 AND founded_year: $lt 2005
projection_5 = {'name':1, 'number_of_employees':1, '_id':0}

list(collection.find(filter_5, projection_5).sort('number_of_employees', -1).limit(10))

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Buongiorno', 'number_of_employees': 800},
 {'name': 'Cvent', 'number_of_employees': 800},
 {'name': 'ZoomInfo', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [29]:
# Your Code
filter_6 = {'partners': {'$exists': False}}
projection_6 = {'name':1, '_id':0}


list(collection.find(filter_6, projection_6))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [26]:
# Your Code
filter_7 = {'category_code': {"$type": "null"}}
projection_7 = {'name':1, '_id':0}

list(collection.find(filter_7, projection_7).limit(10))

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [28]:
# Your Code
filter_8 = {'$and': [{'number_of_employees': {'$gte': 100}}, {'number_of_employees': {'$lt': 1000}}]} # $gte 100 AND $lt 1000
projection_8 = {'name': 1, 'number_of_employees':1, '_id':0}

list(collection.find(filter_8, projection_8).limit(10))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [35]:
# Your Code
filter_9 = {'ipo.valuation_amount': {'$gt':0}}
projection_9 = {'name':1, 'ipo.valuation_amount': 1,'_id':0}

list(collection.find(filter_9, projection_9).sort('ipo.valuation_amount', -1).limit(10))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [36]:
# Your Code
filter_10 = {'number_of_employees': {'$gt': 0}}
projection_10 = {'name':1, 'number_of_employees':1, '_id':0}

list(collection.find(filter_10,projection_10).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [37]:
# Your Code
founded_month = [7,8,9,10,11,12]
filter_11 = {'founded_month': {'$in':founded_month }}  # founded_year equal to 2
projection_11 = {'name': 1, 'founded_month': 1, '_id': 0}

list(collection.find(filter_11, projection_11).limit(1000))[:10]

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [43]:
# Your Code
filter_12 = {'$and': [{'founded_year': {'$lt': 2000}}, {'acquisition.price_amount': {'$gt': 10000000}}]}
projection_12 = {'name':1, '_id':0}

list(collection.find(filter_12, projection_12))[:5]

[{'name': 'Postini'},
 {'name': 'SideStep'},
 {'name': 'Recipezaar'},
 {'name': 'PayPal'},
 {'name': 'Snapfish'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [39]:
# Your Code
filter_13 = {'acquisition.acquired_year': {'$gt': 2010}}  # after 2010
projection_13 = {'name': 1, 'acquisition': 1, '_id': 0}

list(collection.find(filter_13, projection_13))[:10]

[{'name': 'Wetpaint',
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}},
 {'name': 'Digg',
  'acquisition': {'price_amount': 500000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/07/12/betaworks-acquires-digg/',
   'source_description': 'Betaworks Acquires Digg (TechCrunch)',
   'acquired_year': 2012,
   'acquired_month': 7,
   'acquired_day': 12,
   'acquiring_company': {'name': 'betaworks', 'permalink': 'betaworks'}}},
 {'name': 'Geni',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/11/28/all-in-the-family-myheritage-buys-former-yammer-stablemate-geni-com-raises-25m/',
   'source_description': 'MyHeritage acquires Geni and $25M to build family tree of the whole world',
   'acquired_year': 2012,
   'acquired_month': 11,
   'acquired_day': 28,
   'acquiring_company': {'name': 'MyHeritage', 'permalink': 'myheritage'}}},
 {'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'Jingle Networks',
  'acquisition': {'price_amount': 62500000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://www.masshightech.com/stories/2011/04/11/daily11-Jingle-Networks-bought-for-up-to-625M.html',
   'source_description': 'Jingle Networks bought for up to $62.5M',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 11,
   'acquiring_company': {'name': 'Marchex', 'permalink': 'marchex'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'delicious',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/04/27/yahoo-sells-delicious-to-youtube-founders/',
   'source_description': 'Yahoo Sells Delicious To YouTube Founders',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 27,
   'acquiring_company': {'name': 'AVOS Systems', 'permalink': 'avos'}}},
 {'name': 'Revision3',
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://allthingsd.com/20120503/discovery-gets-a-web-video-arm-courtesy-of-revision-3/',
   'source_description': 'Discovery Gets a Web Video Arm, Courtesy of Revision3',
   'acquired_year': 2012,
   'acquired_month': 5,
   'acquired_day': 3,
   'acquiring_company': {'name': 'Discovery Communications',
    'permalink': 'discoverycommunications'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}},
 {'name': 'Mashery',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://allthingsd.com/20130417/intel-acquires-api-manager-mashery/',
   'source_description': 'Intel Acquires API Manager Mashery',
   'acquired_year': 2013,
   'acquired_month': 4,
   'acquired_day': 17,
   'acquiring_company': {'name': 'Intel', 'permalink': 'intel'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [46]:
# Your Code
list(collection.find({'founded_year': {'$gt': 0}}, {'name': 1, 'founded_year':1, '_id':0}).sort('founded_year',-1))[:5]

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [48]:
# Your Code
first_months = [1,2,3,4,5,6,7]
filter_15 = {'founded_month': {'$in': first_months}}
projection_15 = {'name': 1, 'acquisition.price_amount': 1, '_id': 0}

list(collection.find(filter_15, projection_15).sort('acquisition.price_amount', -1).limit(10))

[{'name': 'Sun Microsystems', 'acquisition': {'price_amount': 7400000000}},
 {'name': 'Siebel Systems', 'acquisition': {'price_amount': 5850000000}},
 {'name': 'Netscape', 'acquisition': {'price_amount': 4200000000}},
 {'name': 'SuccessFactors', 'acquisition': {'price_amount': 3400000000}},
 {'name': 'YouTube', 'acquisition': {'price_amount': 1650000000}},
 {'name': 'Zappos', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Meraki', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Tumblr', 'acquisition': {'price_amount': 1100000000}},
 {'name': 'Alibaba', 'acquisition': {'price_amount': 1000000000}},
 {'name': 'Kiva Systems', 'acquisition': {'price_amount': 775000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [49]:
# Your Code
filter_16 = {'$and': [{'category_code': 'web'}, {'number_of_employees': {'$gt': 4000}}]}
projection_16 = {'name': 1, 'number_of_employees': 1, '_id': 0}

list(collection.find(filter_16, projection_16).sort('number_of_employees', 1))[:5]

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [50]:
# Your Code

filter_17 = {'$and': [{'acquisition.price_amount': {'$gt': 10000000}}, {'acquisition.price_currency_code': 'USD'}]}
projection_17 = {'name': 1, '_id': 0}

list(collection.find(filter_17, projection_17))[:5]

[{'name': 'Wetpaint'},
 {'name': 'Postini'},
 {'name': 'Flektor'},
 {'name': 'StumbleUpon'},
 {'name': 'Lala'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [51]:
# Your Code
trim_1 = [1,2,3]
filter_18 = {'acquisition.acquired_month': {'$in': trim_1}}
projection_18 = {'name': 1, 'acquisition': 1, '_id': 0}

list(collection.find(filter_18, projection_18))[:5]

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code
filter_year = {'founded_y'}

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code

**⚠️ Did you do this?**

```python
list(collection.find(query))[:5] #or a reasonably low number
```